@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string base_id = Environment.GetEnvironmentVariable("AIRTABLE_LEADS_BASE") ?? "<base_id>";
    string api_reference = $"https://airtable.com/{base_id}/api/docs#curl/table:interactions:list";
}

<!DOCTYPE html>
<html lang="en" class='scroll-smooth'>
<head>
    <base href="~/"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Evantage</title>

    <script src="https://unpkg.com/htmx.org@latest"
            asp-fallback-src="~/lib/htmx.org/dist/htmx.min.js"
            asp-fallback-test="window.htmx"
            crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.umd.min.js"
            asp-fallback-src="~/lib/chartjs"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.47.0/dist/full.css" rel="stylesheet" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>

    <!-- Alpine Plugins -->
    <script defer src='https://cdn.jsdelivr.net/npm/@@alpinejs/persist@3.x.x/dist/cdn.min.js'></script>
    <script src="https://unpkg.com/htmx.org@latest/dist/ext/alpine-morph.js"></script>
    <script defer src="https://unpkg.com/@@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>

    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <script src="//unpkg.com/three"></script>

    <script src="//unpkg.com/3d-force-graph"></script>
    
    <!-- v5 -->
    <script src='https://cdn.jsdelivr.net/npm/tesseract.js@5/dist/tesseract.min.js'></script>

    <script type="module" src="~/js/main.js"></script>
    <script src="~/dist/index.js" type="module"></script>

    @* <link rel="stylesheet" href="~/css/site.css"> *@

</head>

<body x-data="setup_layout()"
      :data-theme="selected_theme"
      class="flex-1 overflow-y-scroll border-0 border-success">

<header class="">
    <hydro-nav>
        <slot name="links">
            <li>
                <a href="/">🏠 Home</a>
            </li>
            <li>
                <a href="/Leads">👀 Leads</a>
            </li>
            <li>
                <a href="/Sandbox">🏖️ Sandbox</a>
            </li>
        </slot>

        <h1 class="text-lg md:text-2xl lg:text-3xl text-accent">
            <div class="tooltip tooltip-bottom" :data-tip="slogan">
                Sales Spy 🕵️
            </div>
        </h1>
    </hydro-nav>
</header>

<main role="main">

    <select
        x-model="selected_theme"
        x-effect="console.log(selected_theme); localStorage.setItem('theme', selected_theme)"
        class="select select-accent w-auto max-w-xs">
        <option disabled selected>Pick your favorite theme</option>
        <template x-cloak x-for="theme in themes">
            <option
                :key="theme"
                :value="theme"
                x-text="theme">
            </option>
        </template>
    </select>

    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)

</body>


<footer class="footer footer-center p-10 bg-primary text-primary-content">

    <div>
        <svg
            width="50"
            height="50"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            fill-rule="evenodd"
            clip-rule="evenodd"
            class="inline-block fill-current">
            <path
                d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z">
            </path>
        </svg>
        <p class="font-bold">
            @* Evantage<br/>We grow companies. *@
            Sales Spy <br/><span x-text="slogan"></span>
        </p>
        <p>Copyright © 2024 - All rights reserved</p>
    </div>
    <div>
        <div class="grid grid-flow-col gap-4">

            <a href="@api_reference" target="_blank">

                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     preserveAspectRatio="xMidYMid" viewBox="0 0 256 215">
                    <path fill="#FFBF00" d="M114.25873,2.70101695 L18.8604023,42.1756384 C13.5552723,44.3711638 13.6102328,51.9065311 18.9486282,54.0225085 L114.746142,92.0117514 C123.163769,95.3498757 132.537419,95.3498757 140.9536,92.0117514 L236.75256,54.0225085 C242.08951,51.9065311 242.145916,44.3711638 236.83934,42.1756384 L141.442459,2.70101695 C132.738459,-0.900338983 122.961284,-0.900338983 114.25873,2.70101695"/><path fill="#26B5F8" d="M136.349071,112.756863 L136.349071,207.659101 C136.349071,212.173089 140.900664,215.263892 145.096461,213.600615 L251.844122,172.166219 C254.281184,171.200072 255.879376,168.845451 255.879376,166.224705 L255.879376,71.3224678 C255.879376,66.8084791 251.327783,63.7176768 247.131986,65.3809537 L140.384325,106.815349 C137.94871,107.781496 136.349071,110.136118 136.349071,112.756863"/><path fill="#ED3049" d="M111.422771,117.65355 L79.742409,132.949912 L76.5257763,134.504714 L9.65047684,166.548104 C5.4112904,168.593211 0.000578531073,165.503855 0.000578531073,160.794612 L0.000578531073,71.7210757 C0.000578531073,70.0173017 0.874160452,68.5463864 2.04568588,67.4384994 C2.53454463,66.9481944 3.08848814,66.5446689 3.66412655,66.2250305 C5.26231864,65.2661153 7.54173107,65.0101153 9.47981017,65.7766689 L110.890522,105.957098 C116.045234,108.002206 116.450206,115.225166 111.422771,117.65355"/><path fill-opacity=".25" d="M111.422771,117.65355 L79.742409,132.949912 L2.04568588,67.4384994 C2.53454463,66.9481944 3.08848814,66.5446689 3.66412655,66.2250305 C5.26231864,65.2661153 7.54173107,65.0101153 9.47981017,65.7766689 L110.890522,105.957098 C116.045234,108.002206 116.450206,115.225166 111.422771,117.65355"/>
                </svg>
            </a>
            <a>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    class="fill-current">
                    <path
                        d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z">
                    </path>
                </svg>
            </a>
            <a>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    class="fill-current">
                    <path
                        d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z">
                    </path>
                </svg>
            </a>
            <a>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    class="fill-current">
                    <path
                        d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z">
                    </path>
                </svg>
            </a>
        </div>
    </div>

</footer>
<script>
    let previous = localStorage.getItem('theme') ?? "light";
    function setup_layout() {
        return {
            slogan:'Your personal sales sleuth!',
            themes: [
                
              "light",
              "dark",
              "cupcake",
              "bumblebee",
              "emerald",
              "corporate",
              "synthwave",
              "retro",
              "cyberpunk",
              "valentine",
              "halloween",
              "garden",
              "forest",
              "aqua",
              "lofi",
              "pastel",
              "fantasy",
              "wireframe",
              "black",
              "luxury",
              "dracula",
              "cmyk",
              "autumn",
              "business",
              "acid",
              "lemonade",
              "night",
              "coffee",
              "winter",
              "dim",
              "nord",
              "sunset",    
            ],
            selected_theme: previous
        }
    }
</script>


</html>