@using evantage.Services
@using evantage.Models
@using CodeMechanic.RazorHAT.Services
@using CodeMechanic.Extensions
@using CodeMechanic.Types
@using CodeMechanic.Diagnostics

@inject IRazorRoutesService routes_service
@inject IInMemoryGraphService graph_service
@inject IDownloadImages image_downloader
@{
    var sample_picsum_images = graph_service.picsum_images ?? new List<Picsum>();
    int max_nodes = 10;
    var ids = Enumerable.Range(1, max_nodes);
    var nodes = Enumerable.Range(1, max_nodes)
        .Select(i =>
            new Node<Note>()
            {
                id = i,
                Fields =
                    new Note()
                    {
                        img = sample_picsum_images.TakeFirstRandom().DownloadUrl.ToString()
                    }
            }
        )
        .ToList();

    var links = Enumerable.Range(1, nodes.Count)
        .Select(i => new Relationship<Note>()
        {
            source = i,
            target = ids.TakeFirstRandom()
        })
        .ToList()
        ;

    var next_nodes = nodes
        .Select((node => node.Dump("node").Fields.img = sample_picsum_images
            .TakeFirstRandom().DownloadUrl.ToString()))
        .AsJSON();
    // Console.WriteLine("nodes serialized :>> " + nodes_json);
    // Console.WriteLine("links serialized :>> " + links);
    // Console.WriteLine("new nodes serialized :>> " + next_nodes);

    var requested_images = sample_picsum_images.Select(img => new ImageDownload()
    {
        source = img.DownloadUrl,
        save_name = img.Url + ".jpg"
    });

    await image_downloader.DownloadImages(requested_images.ToArray());

}

<section id="notes_graph" class="h-screen w-3/4">
    <div id="3d-graph"></div>
</section>
<script>
    const initData = {
      nodes: @Html.Raw(@nodes.AsJSON()),
      links: @Html.Raw(@links.AsJSON())
    };
    // console.log("initdata :>> ", initData)
    const Graph = ForceGraph3D()
      (document.getElementById('3d-graph'))
        .cooldownTicks(100)
        .onNodeClick(zoom_to_node)
        .nodeLabel('id')
        .nodeThreeObject(({ Fields }) => {
            // console.log('fields :>> ', Fields);
            const imgTexture = new THREE.TextureLoader().load(Fields.img);
            imgTexture.colorSpace = THREE.SRGBColorSpace;
            const material = new THREE.SpriteMaterial({ map: imgTexture });
            const sprite = new THREE.Sprite(material);
            sprite.scale.set(24, 24);
            return sprite;
        })
        // .onNodeClick(removeNode)
        .nodeAutoColorBy('User')
        .nodeLabel(node => `${node.Fields.User}: ${node.Fields.Description}`)
        .graphData(initData)
        ;

      function removeNode(node) {
        let { nodes, links } = Graph.graphData();
        links = links.filter(l => l.source !== node && l.target !== node); // Remove links attached to node
        nodes.splice(node.id, 1); // Remove node
        nodes.forEach((n, idx) => { n.id = idx; }); // Reset node ids to array index
        Graph.graphData({ nodes, links });
      }
      
</script>