@model Index


@{
    var parts = @Model.Parts;
    var rounds = @Model.Rounds;
    var zeroes = @Model.Zeroes;
}

<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias amet animi consequatur corporis deleniti dolor ex illo ipsa ipsam iste, laboriosam officiis perspiciatis quaerat quas repudiandae sequi velit voluptates.</p>
</div>