@page
@model evantage.Pages.Sandbox.ThreeJS.Index

@{
    Layout = null;
}

<section class="grid grid-rows-3">
    <div>

        <h1>Controls</h1>
        <ul>
            <li>
                <a href="/ThreeJS/StarField">

                    <button class="btn btn-tahiti">
                        Star Field Sample
                    </button>
                </a>
            </li>
        </ul>
    </div>
    <div class="row-span-2">content</div>

</section>