@page
@using evantage.Pages.Components
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model evantage.Pages.OS.Pwints

@{
    // string cwd = Directory.GetCurrentDirectory();
    // var di = cwd.AsDirectory();

    var videos = new List<LocalFileSearch>()
    {
        new LocalFileSearch()
        {
            title = "Videos in Downloads",
            tooltip = "Find all video files on a given drive",
            file_mask = "*.mp4,*.mkv,*.webm",
            root_directory = "/home/nick/Downloads/VideoDownloader"
        },
        new LocalFileSearch()
        {
            title = "Videos in Videos folder",
            tooltip = "Find all video files on a given drive",
            file_mask = "*.mp4,*.mkv,*.webm,*.gif",
            root_directory = "/home/nick/Videos/"
        },
    };

    var markdown_files = new List<LocalFileSearch>()
    {
        new LocalFileSearch()
        {
            root_directory = "/home/nick/Documents/",
            title = "Markdown files in Documents",
            tooltip = "Find all Markdown in /Documents",
            file_mask = "*.md"
        },
    };

    var pwint_options = new List<LocalFileSearch>()
    {
        new LocalFileSearch()
        {
            title = "STLs in Downloads",
            tooltip = "Find all STL files on a given drive",
            file_mask = "*.stl",
            root_directory = "/home/nick/Downloads/pwints"
        },
    };
}

<div x-data="setup_pwints()" id="main_flex" class="flex flex-row">

    <div class="border-primary-content/10 border-2 w-1/10 ">

        @* CONTROL PANEL *@
        <shadow shadow-type="inset">
            <h2 class="pl-4 text-info">
                Controls
            </h2>
        </shadow>

        <template x-cloak x-for="[key, value] of Object.entries(views)">
            <div :data-tip="value.tip" class="tooltip tooltip-bottom tooltip-accent flex-col flex items-center justify-center gap-2">

                <button
                    x-on:click="value.enabled=!value.enabled"
                    class="btn btn-primary join-item shadow-md shadow-secondary-400/50"
                    :class="{'border-2 border-secondary btn-ghost': !value.enabled, 'border-2 border-accent': value.enabled }">
                    <label
                        x-text="key"
                        class="form-label badge badge-sm"
                        :asp-for='key'>
                    </label>

                    <input x-bind:name='key'
                           x-bind:value='value.enabled'
                           x-bind:checked="value.enabled"
                           type="checkbox"
                           :asp-for="key"
                           class="form-control toggle toggle-primary">
                </button>

            </div>

        </template>
    </div>

    @* MAIN GRID *@
    <div class="grid grid-cols-2 grid-rows-auto w-9/10">

        <template x-if="true">

            <div x-transition x-show="views.Videos.enabled">

                <partial name="_FilesOnDrive" model="@videos"></partial>

            </div>
        </template>

        <template x-if="true">

            <div x-transition x-show="views.Markdown.enabled">

                <partial name="_FilesOnDrive" model="@markdown_files"></partial>

            </div>
        </template>

        <template x-if="true">

            <div x-transition x-show="views.SSE.enabled">

                <partial name="_SSEExample"></partial>

            </div>
        </template>

        <template x-if="true">

            <div x-show="views.STLs.enabled" x-transition>

                <partial name="_FilesOnDrive" model="@pwint_options"></partial>

            </div>
        </template>

        <script>
        function setup_pwints(){
            return {
                views: {
                    SSE: { tip: 'Show SSE sample', enabled: false },
                    Videos: { tip: 'Show Local Videos on Drive', enabled: true },
                    Markdown: { tip: 'Show Local Markdown files on Drive', enabled: true },
                    STLs: { tip: 'Search drive for files matching a mask', enabled: false }
                }
            }
        }
    </script>

    </div>

</div>