@using CodeMechanic.Diagnostics
@model Index
@{
    // var sample_fullday = new MyFullDay()
    // {
    //     TodaysFrog = new TodoistTask() { content = "create full day cards", priority = "1" }.AsList(),
    // };
    @* @Model.todoist_stats.TodoistTasks.Count.Dump("total tasks") *@

    var full_day = @Model.FullDay;

    Model.todoist_stats.TodoistTasks.Count.Dump("total tasks");
}
<div class="card card-compact w-128 bg-base-100 shadow-xl">
    @* figure usually goes here *@
    <div class="card-body">
        <h1 class="card-title text-3xl">Your Full Day</h1>
        <div id="full_day_tasks" class="text-primary grid grid-cols-2 grid-rows-auto gap-4">

            <h2 class="text-2xl">LowHangingFruit</h2>
            <partial name="_TaskList" model="full_day.LowHangingFruit"></partial>

            <h2 class="text-2xl">Midday</h2>
            <partial name="_TaskList" model="full_day.Midday"></partial>

            <h2 class="text-2xl">Today's frogs:</h2>
            <partial name="_TaskList" model="full_day.TodaysFrog"></partial>

        </div>
        <div class="card-actions justify-start" x-data="{enabled:true}" x-show="enabled">
            @* <button class="btn text-accent btn-primary">Buy Now</button> *@
            @* experimental *@
            @* bind:disabled="enabled" *@
            <button
                class="btn btn-primary text-accent"
                hx-get
                hx-target="#full_week"
                hx-swap="innerHTML"
                hx-page="Index"
                hx-trigger="click"
                hx-page-handler="FullWeek"
                hx-on::after-request="enabled=false">
                Get Full Week
            </button>
            @* <pre x-text="enabled"></pre> *@
        </div>
    </div>

    <div id="full_week"></div>
</div>