@using Htmx.TagHelpers
@model Index


@* hx-page-handler="FullDay" *@
<div
    x-transition
    hx-get
    hx-target="#full_day"
    hx-indicator="#full_day_indicator">

    @* <h1 class="text-lg text-secondary bg-content">Full Day</h1> *@
    <div id="full_day"></div>

    <span id="full_day_indicator"
          class="htmx-indicator">
        <label for="">loading todoist tasks...</label>
        <img alt="bars" src="~/img/bars.svg"/>
    </span>
</div>