<div
    x-transition
    class="border-0 border-primary"
    hx-get
    hx-trigger="load"
    hx-target="#projects"
    hx-page="Index"
    hx-indicator="#projects_indicator"
    hx-page-handler="AllReadmeTodos">

    <template x-if="true">
        <h1 class="text-lg text-secondary bg-content">Tasks from README.md</h1>
    </template>

    <div id="projects">

    </div>

    <span id="projects_indicator" class="htmx-indicator">
        <label for="">loading markdown projects...</label>
        <img alt="bars" src="~/img/bars.svg"/>
    </span>

</div>