@page
@model evantage.Pages.Sandbox.AirtableService.AirtableCrud

@{
    // Layout = null;
}


@* todo: Write some sample crud using nugs or something. 
  1. Create record
   2. search for that specific record, validate it,
   3. Get  record by id (saved from step 1) and then,
   4. Update the record's values,
   5. delete the updated record.  This tests the entire CRUD sequence without disturbing prod and is 0 sum.
  *@
<div>
    
</div>