@page
@model evantage.Pages.Leads.Airtable.AddLead

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    Add a new lead to airtable
</div>
</body>
</html>