@page
@model ImportOCR

@{
    <!-- TODO:
    1. add import button
    2. Load filepath from mobile directory
    3. Test and verify the file loaded by showing line count on Android.
    4. Extract phone numbers, and create new Leads from each one.
    5. POST to Airtable.
    6. (The remaining text is probably not going to be very accurate, so ommitting it for now.  Texts should sync to Drive anyways)
    -->
}


<h1>Import OCR TXTs</h1>

