@model IndexModel

@{
    ArgumentNullException.ThrowIfNull(Model);
    ArgumentNullException.ThrowIfNull(Model.CurrentLeads);
}

<section>

    <input type="text"
           id="query"
           autocomplete="off"
           hx-get
           hx-page="Index"
           hx-page-handler="Search"
           asp-for="Query"
           hx-target="#results"
           hx-trigger="keyup changed delay:250ms"
           hx-indicator="#loading"
           placeholder="Search"
           class="form-control"
           aria-label="Username"
           aria-describedby="search-addon">

    @{ ArgumentNullException.ThrowIfNull(Model); }

    @if (Model.CurrentLeads is {} leads)
    {
        <table>

            <tbody id="results">

            @foreach (var lead in leads)
            {
                <tr>
                    <td>@lead.CompanyName</td>
                    <td>@lead.CustomerName</td>
                    <td>@lead.Kind</td>
                    <td>
                        <a href="@lead.CallablePhoneLink">Call !</a>
                    </td>
                </tr>
            }
            </tbody>

        </table>
    }
    else
    {
        <tr>
            <td colspan="4">No Results.</td>
        </tr>
    }
</section>