@model IndexModel

@{
    ArgumentNullException.ThrowIfNull(Model);
}

<section>

    <h2 class="flex flex-row gap-2 mb-3 text-primary text-2xl">
        <img src="~/img/sample.jpg" alt="joystick" style="height: 2rem">
        Current Leads
        @* <img id="loading" class="htmx-indicator" src="~/img/sample.jpg" alt="search" width="16"/> *@
    </h2>
    <div class="input-group mb-3">
        <span class="input-group-text" id="search-addon">
            @* <img id="search-icon" src="~/img/search.svg" alt="search" width="16"/> *@
        </span>
    </div>

    <div id="search_form" class="flex flex-col">

        
        <input type="text"
               id="query"
               autocomplete="off"
               hx-get
               hx-page="Index"
               asp-for="Query"
               hx-target="#results"
               hx-trigger="keyup changed delay:250ms"
               placeholder="Search"
               class="form-control"
               aria-label="Username"
               aria-describedby="search-addon">


    </div>

    @if (Model.Results is {} leads)
    {
        <div class="overflow-x-auto">

            <table class="table table-borderless table-striped">

                <thead class="table-dark">
                <tr>
                    <th>
                        <label>
                            <input type="checkbox" class="checkbox"/>
                        </label>
                    </th>
                    <th>Customer</th>
                    <th>Job</th>
                    <th>Company</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="results">
                @await Html.PartialAsync("_Results")
                </tbody>

            </table>
        </div>
    }
    else
    {
        <tr>
            <td colspan="4">No Results.</td>
        </tr>
    }
</section>