@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div>
    <hydro-hero>
        <slot name="title">Welcome Back!</slot>
        @* <slot name="message">Pick an option</slot> *@
        @* <slot name="button">hello thar</slot> *@

        
    </hydro-hero>
</div>