@page
@using evantage.Models
@using evantage.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel

@inject IInMemoryGraphService graph_service
@{
    ViewData["Title"] = "Home page";
    var commission = Model.Commission ?? new Commissions();
    var todos = new List<Todoist>();
}
<div x-data='setup()' class="">
    <div id="dashboard-contents" class="flex flex-row">
        <div class="w-1/4">
            <div class="bg-info/25">
                <div class="border-info/25 border-2">
                    <h1 x-text="current_section"></h1>
                </div>
            </div>
        </div>

        <div class="w-3/4">
            <div class="bg-accent-content/25">
                <div class="border-accent/25 border-2">
                    <partial name="_LeadsTable"></partial>
                </div>
            </div>
        </div>
    </div>

    <div id="dashboard-contents" class="flex flex-row">
        <div class="w-1/4">
            <div class="bg-info/25">
                <div class="border-info/25 border-2">
                </div>
            </div>
        </div>

        <div class="w-3/4">


            @* CSV/Excel *@

            <div class="bg-accent-content/25">
                <div class="border-accent/25 border-2">

                    @* <hydro name="Counter" params="@(new { Count = 10 })"/> *@

                    @* <hydro name="Counter"></hydro> *@
                    @* params="@(CurrentLeads = new List<Lead>())" *@
                    @* <hydro name="LeadsPanel"  *@
                    @*        ></hydro> *@
                </div>
            </div>

            <div class="bg-accent-content/25">
                <div class="border-accent/25 border-2">
                    <div class="max-w-3/4">
                        @* Todo: Move this to its own RAzor page and refactor out a hydro component if it makes sense
                        It doesn't work well as a partial with 3 services injected into it.*@
                        @* <partial name="_NotesGraph"></partial> *@
                    </div>

                    <partial name="_CommissionCalculator" model="@commission"/>

                    @* <partial name="_TodoistClone" model="todos"></partial> *@
                </div>
            </div>


        </div>
    </div>
</div>

<script>
function setup() {
    return {
        current_section: "@nameof(Commissions)"
    }
}
</script>