@page
@using evantage.Pages.Components
@using Hydro
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div>
    <hydro-hero>
        <slot name="title">Welcome Back!</slot>
        <slot name="message">Pick an option</slot>
        <slot name="buttons">
            <a href="/Jobs">
                <button class="btn button-accent text-secondary">Jobs</button>
            </a>
            <a href="/Leads">
                <button class="btn button-info text-success">Leads</button>
            </a>
            <a href="/Todos">
                <button class="btn button-info text-primary">Todoist</button>
            </a>
        </slot>
    </hydro-hero>
</div>