@page
@using evantage.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel

@* @inject IInMemoryGraphService graph_service *@
@{
    ViewData["Title"] = "Home page";
    // var commission = Model.Commission ?? new Commissions();
    // var todos = new List<Todoist>();


}

<div x-data='setup()' class="border-0 border-red-500 h-screen">

    <div id="quick_dial">
        <label for="">Quick Dial</label>
        <input class="rounded-box" x-model='dial_number'></input>
        <a :href="'tel:' + dial_number" x-text="dial_number">
            📞
        </a>
    </div>

    <div id="view_switcher" class="tooltip tooltip-top" :data-tip="current_view_tooltip">
        <button
            class="btn btn-primary"
            x-text="curent_view"
            @@click="toggle_forms()">
        </button>

        <a target="_blank"
           data-tip="Go to Client Vine"
           class="tooltip"
           href="https://dallas.clientvine.net/">
            <button
                class='btn btn-primary'>
                ClientVine
            </button>
        </a>
    </div>

    <section id="dashboard-contents" class="flex flex-col items-center justify-center">
        <div
            x-transition
            width="100%"
            x-show="show_leads_table" class="w-full">
            <partial name="_LeadsTable"></partial>
            @* <partial name="Leads/Airtable/Forms/_AddOpportunity"></partial> *@
        </div>

        <h2>INTERACTIONS</h2>

        <div hx-get hx-page-handler="AllInteractions">
            ...
        </div>

        <div x-transition x-show="show_leads_form" class="w-full">
            <partial x-show="show_leads_form" name="Leads/Airtable/Forms/_AddLead"></partial>
        </div>
    </section>

    <partial name="StarterScript"/>
</div>

<script>
    function setup() {
        return {
            curent_view: 'Add Lead',
            show_leads_form: false,
            show_leads_table: true,
            current_view_tooltip: '',
            dial_number: '8175652372',
            toggle_forms() {
                this.show_leads_form = !this.show_leads_form
                this.show_leads_table = !this.show_leads_table
                this.curent_view = this.show_leads_form == true ? 'View Leads' : 'Add Lead'
                this.current_view_tooltip = this.show_leads_form == true ? 'View All Current Leads' : 'Add a new Lead'
            }
        }
    }
</script>