@page
@using evantage.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel

@* @inject IInMemoryGraphService graph_service *@
@{
    ViewData["Title"] = "Home page";
    // var commission = Model.Commission ?? new Commissions();
    // var todos = new List<Todoist>();
}


<div>
    <h1>blah</h1>
</div>