@page
@using evantage.Pages.Components
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model evantage.Pages.Dashes.Index

@{
    var add_video = new YoutubeVideo();
    var add_earnings = new Earnings();
}

<section id="dashes">

    <div class="flex flex-col items-center justify-center">
        
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <shadow shadow-type="double">
                    <h1 class="text-3xl">Welcome to Doordash!</h1>
                </shadow>
            </div>
        </div>

        <div class="h-20">
            <shadow shadow-type="distant">
                <h2 class="text-2xl">Weekly Earnings</h2>
            </shadow>
        </div>
        
        <partial name="_Earnings"/>

        <div class="h-20">
            <shadow shadow-type="distant">
                <h2 class="text-2xl">Helpful Videos</h2>
            </shadow>
        </div>
        
        <partial name="_YoutubeHelp"/>

    </div>

</section>