@page
@using evantage.Pages.CarCapital.Inventory
@using evantage.Pages.Components
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FiltersExample
@{
    // https://www.w3schools.com/graphics/svg_filters_intro.asp
    var car = new Car()
    {
        Image_Url = "https://picsum.photos/200/300"
    };
}

<hydro-bento>

    <div class="bento border-2 text-info">

        <h1>Filter tags example</h1>

        <a target="_blank"
           href="https://www.w3schools.com/graphics/svg_filters_intro.asp">

            <h1>Basic Filter</h1>
        </a>
        <svg height="100" width="100" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <filter id="f1" x="0" y="0">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="15"/>
                </filter>
            </defs>
            <rect width="90" height="90" fill="red" filter="url(#f1)"/>
        </svg>

    </div>


    <div class="bento  border-2 text-info">

        <a href="https://www.w3schools.com/graphics/svg_fedropshadow.asp" target="_blank">

            <h1>Drop Shadow</h1>
        </a>
    </div>
    <div class="bento  border-2 text-info">

        <a target="_blank" href="https://www.w3schools.com/graphics/svg_fegaussianblur.asp">

            <h1>Gausian blur</h1>

        </a>
    </div>


    <div>
        <a target="_blank" href="https://www.w3schools.com/graphics/svg_fegaussianblur.asp">

            <h1>Holo Card</h1>
            <partial name="Sandbox/HoloCard/CarCapitalCorpCard" model="@car"></partial>
        </a>
    </div>

</hydro-bento>