@page
@model evantage.Pages.Sandbox.Bentos

@{
}

<div class="">
    <div class="grid grid-cols-4 grid-rows-4 gap-2">
        <div class="border-2 col-span-2 border-blue-300 rounded-3xl">
            <h1 class="font-mono p-10">Content</h1>
        </div>
        <div class="border-2 col-span-2 border-blue-300 cambria  rounded-3xl">
            <h1 class="font-bold line-height-2 text-3xl p-5">Content</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae earum
                at eius molestias impedit et saepe animi ipsa, aperiam ratione
                voluptatum dicta facere, ab voluptas veniam eaque inventore
                reiciendis accusamus.
            </p>
        </div>
        <div class="border-2 col-span-1 row-span-3 border-blue-300 apple  rounded-3xl">
            <h1>Content</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero
                beatae atque laborum quod dolorem corrupti sapiente, accusantium
                porro voluptates facilis fuga aspernatur ratione qui consectetur
                iure, obcaecati corporis cumque architecto?
            </p>
        </div>
        <div class="border-2 col-span-2 row-span-2 border-blue-300  rounded-3xl">
            Content
        </div>
        <div class="border-2 col-span-1 row-span-3 border-blue-300  rounded-3xl">
            Content
        </div>
        <div class="border-2 border-blue-300 rounded-3xl">Content</div>
        <div class="border-2 border-blue-300 rounded-3xl">
            <h1>Content</h1>
            <button class="btn btn-primary">Golang</button>
        </div>
    </div>
</div>

<h1>
    Adapted from
    <a target="_blank"
       class="link-accent" href="https://www.youtube.com/watch?v=onQ9KGWysQY">
        this video
    </a
    >
</h1>