@page
@using evantage.Pages.Components
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model evantage.Pages.Sandbox.FancyBento

<hydro-bento>
    <div class="bento bento-shadow-blue border-2 col-span-1">
        <div class="flex flex-row items-center justify-center">
            <partial name="_SampleCard"></partial>
        </div>
    </div>
    <div class="bento bento-shadow-blue border-2  col-span-2">
        <div class="flex flex-row items-center justify-center">
            <partial name="_SampleCard"></partial>
            <partial name="_SampleCard"></partial>
        </div>
    </div>
    <div class="bento bento-shadow-blue border-2 row-span-2">
        <div class="flex flex-row items-center justify-center">
            <partial name="_SampleCard"></partial>
        </div>
    </div>

</hydro-bento>