@page
@model evantage.Pages.Sandbox.Index

@{
}

<!DOCTYPE html>

<section>
    <h1>
        Sandbox
    </h1>

    <h2>TODO: </h2>
    <ul>
        <li>OCR Test</li>
        <li>Import by Markdown Test (markdown Picker)</li>
    </ul>

    <section x-show="false" id="dashboard-contents" class="flex flex-row">
        <div x-show="false" class="w-1/4">
            <div class="bg-info/25">
                <div class="border-info/25 border-0">
                </div>
            </div>
        </div>

        <div class="w-3/4">

            <div x-show="false" class="bg-accent-content/25">
                <div class="border-accent/25 border-0">
                    <div class="max-w-3/4">
                        @* Todo: Move this to its own RAzor page and refactor out a hydro component if it makes sense
                            It doesn't work well as a partial with 3 services injected into it.*@
                        @* <partial name="_NotesGraph"></partial> *@
                    </div>

                    @* <partial name="_CommissionCalculator" model="@commission"/> *@
                </div>
            </div>


        </div>
    </section>
</section>