@page
@using evantage.Services
@using Htmx.TagHelpers
@model evantage.Pages.Sandbox.SSE

@{
}


<div class="d-flex justify-content-center">
    <div hx-sse="connect:/rn-updates" class="card mb-3 text-center" style="max-width: 18rem;">
        <div class="card-header bg-primary text-white">Featured Random Number</div>
        <div class="card-body">
            <h5 class="card-title">The Random Number is..</h5>
            <p class="card-text fa-4x"
               hx-trigger="sse:number"
               hx-get="@Url.Page("SSE", "Random")">
                <span>@Number.Value</span>
            </p>
        </div>
    </div>
</div>