@page
@model evantage.Pages.Jobs.Statistics

@{
    Layout = null;
}


<p>Render a bunch of helpful stats, like how many applications you've applied to, how many ghosted, responded, (confirmed) rejected, offered, etc.</p>

<ul>
    <li>I want to use this view to see at a glance what I'm up to, without digging through a bunch of views in Airtable</li>
</ul>