@model evantage.Pages.Components.HydroBento

<div class="grid grid-cols-@{@Model.columns} grid-rows-@{@Model.rows} gap-2">
    @Model.Slot()
</div>

<style>
    .bento {
        /*Src: https://tailwindcss.com/docs/border-radius*/
        border-radius: 1.5rem;
        border-color: #444444;
        box-shadow: #49ff18;
    }
    .bento-shadow-blue {
      box-shadow: 0 .25rem .75rem #00caff;
    }
    
    .bento-shadow-green {
      box-shadow: 0 .25rem .75rem #00ffca;
    }
    
    .bento-shadow-red {
      box-shadow: 0 .25rem .75rem #ff00ca;
    }

</style>